
/* 全部分类菜单 */
.slider-nav{
	background-color: rgba(0,0,0,0.6);
	width: 234px;
	height: 420px;
	border: none;
}
.slider-nav .slider-li .name{
	color: #fff;

}
#page-all-nav .slider-nav{
	visibility: visible;
}
/* 首页轮播 */
.idx-banner{
	position: relative;
	height: 460px;	
	overflow: hidden;
	
}
.idx-banner ul{
	width: 20000px;
	height: 460px;

}
.idx-banner li{
	width: 1206px;
	float: left;
	height: 460px;
	position: relative;

}
.idx-banner  li img{
	/* display: none; */
	width: 1206px;
	height: 460px;
	
}
.idx-banner li a{
	position: absolute;
	width: 972px;
	height: 460px;
	/* background-color: rgba(0,0,0,0.3); */
	top: 0;
	right: 0;
}
.idx-banner .btn{
	position: absolute;
	top:50%;
	margin-top: -35px;
	width: 40px;
	height: 70px;
	background-image: url(../img/箭头.png);
}
.idx-banner .btn.prev {
	background-position:-83px 0 ;
	left: 234px;
}
.idx-banner .btn.next {
	background-position:top right ;
	right: 0;
}
.idx-banner .btn.prev:hover{
	background-position:top right ;
}
.idx-banner .btn.next:hover{
	background-position:-83px 0 ;
}
.idx-banner .page{
	position: absolute;
	bottom: 30px;
	right:0;
	z-index: 10;
	width: 100%;
	height: 10px;
	text-align: right;
	padding-right: 35px;
}
.idx-banner .page a{
	display: inline-block;
	margin: 0 5px;
	width: 6px;
	height: 6px;
	border: 2px solid #fff;
	border-color: rgba(255,255,255,0.3);
	border-radius: 50%;
	background-color: #F5F5F5;
	background-color: rgba(0,0,0,0.4);
}
.idx-banner .page a:hover{
	background-color: #fff;
	background-color: rgba(255,255,255.0.4);
	border-color: #757575;
	background-color: rgba(0,0,0,0.4);
	
}
.idx-banner .page span{
	visibility: hidden;
	
	
}
/* 菜单区域和广告位 */
.idx-menu-adv{
	overflow: hidden;
	margin-top: 20px;
	margin-bottom:20px ;
}
.idx-menu-adv .menu{
	width: 214px;
	height:145px ;
	background-color:#5f5750;
	float: left;
	padding: 10px;
}
.idx-menu-adv .menu li{
	width: 71px;
	height: 71px;
	float: left;
	padding-top: 10px;
	text-align: center;
	color: #c8c5c3;
	position: relative;
	
}
.idx-menu-adv .menu li i{
	font-size: 20px;
	
}
.idx-menu-adv .menu li span{
	display: block;
	margin-top: 10px;
}
.idx-menu-adv .menu li.bb:before{
	content: "";
	display: block;
	width: 62px;
	height: 1px;
	background-color: #655d56;
	position:absolute ;
	left: 0;
	bottom: 0;
}
.idx-menu-adv .menu li.br:after{
	content: "";
	display: block;
	width: 1px;
	height: 61px;
	background-color: #655d56;
	position:absolute ;
	right: 0;
	top: 5px;
}
.idx-menu-adv .menu li:hover{
	color: #fff;
}
.idx-menu-adv .pic{
	display: block;
	width: 304px;
	height: 165px;
	float: left;
}
.idx-menu-adv .pic img{
	display: block;
	width: 304px;
	height: 165px;
}
/* 广告图 */
.idx-adv  img{
	width: 100%;
	display: block;
	
}
.idx-container{
	background-color:#f5f5f5;
	margin-top: 40px;
	overflow: hidden;
}
.idx-title{
	overflow: hidden;
	line-height: 60px;
	margin-top: 20px;
	/* 容器的第一个子元素margin-top会转移给父元素的margin-top */
	
}

.idx-title .tit{
	font-size: 22px;
	color: #666;
	
}
.idx-title .see-all{
		float: right;
		font-size: 16px;
		color: #666;
		position: relative;
		top: 22px;
}
.idx-title .see-all:hover{
	color: #FF6700;
	
}
.idx-container .col-5{
	width: 229px;
	margin-left: 15px;
	margin-bottom: 15px;
	float: left;
}
.idx-container .col-5:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.idx-container  .idx-box{
	height: 615px;
	clear: both;
}
.idx-box .adv-box{
	float: left;
}

/* 左边 */
.idx-box .adv-box.col-5{
	margin-left: 0;
}
.idx-box .adv-box .single img{
	width: 215px;
	display: block;
	height: 630px;
}
/* 右边 */
.idx-box .idx-box .good-box{
	float: right;
	width: 976px;
}
.idx-box .good-item{
	background-color: #fff;
	height:300px ;
	position: relative;
	padding-top: 8px;
}
.idx-box .good-item .tags{
	width: 64px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -32px;
	top: 0;
	color: #fff;
	z-index: 10;
	text-align: center;
	line-height: 20px;
}
.idx-box .good-item .tags.new{
	background-color: #83c44e;
	
}
.idx-box .good-item .tags.discount{
	background-color: #e53935;
}
.idx-box .good-item .pic img{
	width: 160px;
	height: 160px;
	display: block;
	margin: 20px auto;
	
}
.idx-box .good-box .name,
.idx-box .good-item .name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: elipsis;
	text-align:	center;
	font-weight: normal;
	font-size: 13px;
}
.idx-box .good-box .name{
	width: 200px;
	margin: 0 auto 10px;
}
.idx-box .good-item .desc{
	width: 210px;
	color:#b0b0b0;
	margin: 0 auto;
	text-align: center;

	
}
.idx-box .good-item .price{
	text-align: center;
	margin-top: 18px;
	
}
.idx-box .good-item .price span{
	color: 
	#FF6700;
}
.idx-box .good-item .price i{
	font-style: 
	normal;
	text-decoration: line-through;
	margin-left: 5px;
	color: #b0b0b0;
	
}