/* 公共样式 */
.body{
	font-size: 12px;
	color: #3333;
}
.container{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
/* 顶部代码 */
.page-top{
	height: 38px;
	background-color: #323232;
}
.page-top .top-lt{
	color: #a2a2a2;
	line-height: 38px;
	float: left;
}
/* .page-top .top-lt a{
	 display:inline-block ;
 } */
.page-top .top-lt span{
	color: #3f3f3f;
	padding:0 3px;
}
 .page-top .top-lt a:hover{
 	color: #fff;
 }
.page-top .top-lt .download{
	position: relative;
}
.page-top .top-lt .down-box{
	width: 126px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 0;
	top: 23px;
	margin-left: -63px;
	padding-top: 20px;
	box-shadow: rgb(170,170,170) 0px 1px 5px;
	text-align: center;
	display:none ;
	z-index: 1000;
}
.page-top .top-lt .down-box img{
	width: 88px;
	height: 88px;
	display: block;
	margin: 0 auto;
}
.page-top .top-lt .down-box b{
	width: 20px;
	height: 130px;
	position: absolute;
	/* background-image: url(../img/箭头.gif); */
	left:50% ;
	margin-left: -10px;
	top: -13px;
} 
.page-top .top-lt a.download i{
	font-style: normal;
	color:#2323232;
	font-size: 13px;
}
.page-top .top-lt a.download:hover .down-box{
	display: block;
}
.page-top .top-lt .download:hover i{
	color:#2323232;
}
.
.page-top .top-gt{
	float: right;
	
}

.page-top .top-gt .login{
	float: right;
	color: #A2A2A2;
	line-height: 38px;
	margin-right: 20px;
}
.page-top .top-gt .login span{
	color: #3F3F3F;
	padding: 0 3px;
	
}

.page-top .userinfo{
	float: right;
	margin-right: 20px;
}
.page-top .userinfo .link{
	line-height: 38px;	
	color: #A2A2A2;
}
.page-top .userinfo span{
	padding:0 3px;
	color: #3F3F3F;
}
.page-top .userinfo .user{
	width: 120px;

	display: inline-block;
	position: relative;
}
.page-top .userinfo .user .tit{
	line-height: 38px;
	text-align: center;
	display: block;
	color: #A2A2A2;
	position:relative ;
	z-index: 5;
}
.page-top .userinfo .user ul{
	display:none ;
	position: absolute;
		left: 0;
		top: 38px;
		width: 120px;
		
		padding: 10px 0;
		box-shadow:0 5px 10px rgba(0,0,0,0.15);
}
.page-top .userinfo .user li{
	line-height: 30px;
	text-align: center;
	
}
.page-top .userinfo li a{
	display: block;
}
.page-top .userinfo li:hover{
	background-color: #f5f5f5;
	color:#ff6700;
}
.page-top .userinfo .user:hover{
	background-color: #fff;
	
}
.page-top .userinfo .user:hover .tit{
	color: #FF6700;
}
.page-top .userinfo .user:hover ul{
	display: block;
}
.page-top  .car-box{	
	float: right;
	

}
.page-top .shop{
	width: 20px;
	height: 20px;
}
.page-top .car-box .tit{
	display: block;
	width: 118px;
	height: 38px;
	background-color: #424242;
	text-align: center;
	line-height: 38px;
	color: #A2A2A2;
	position: relative;
	z-index: 1000;
}
.page-top .car-box .pop{
	width: 316px;
	position:absolute;
	top: 38px;
	right: 0;
	box-shadow: 0  2px 10px 0 rgba(0,0,0,0.15);
	display: none;
	z-index: 1000;
	background-color: #fff;
}
.page-top .car-box .pop .no-good{
	text-align: center;
	font-size: 13px;
	padding:40px 0 ;
}
.page-top .pop .list{

	padding:15px 20px 0;
	margin-top: 15px;
	max-height: 450px;
	overflow-y:scroll ;
}

.page-top .pop .list li{
	border: 1px solid #e0e0e0;
	padding: 10px 0;
	overflow: hidden;
}

.page-top .pop .list .pic{
	float: left;
}
.page-top .pop .list li:last-child{
	
}
.page-top .pop .list li.last{
	border: none ;
}
.page-top .pop .list img{
	widows: 70px;
	height: 70px;
}
.page-top .pop .list .txt{
	width: 120px;
	float:left ;
	line-height: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.page-top .pop .list .txt:hover{
	color: #FF6700;
}
.page-top .pop .list .num{
	float: right;
	text-align: right;
}
.page-top .pop .list h4{
	margin-top:12px ;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 10px;
}
.page-top .pop .list .num i{
	font-style: normal;
	cursor: pointer;
	color: #aaa;
}
.page-top .pop .list .num i:hover{
	color: #333;
}
.page-top .pop .total{
	background-color: #fafafa;
	padding: 15px 10px;
	overflow: hidden;
}

.page-top .pop .total .price{
	float: left;
}
.page-top .pop .total .price p{
	color: #7e7e7e;
}

.page-top .pop .total .price h3{
	font-size: 20px;
	color: #ff6700;
	font-weight: normal;
	margin-top: 5px;
}
.page-top .pop .total .btn{
	width: 132px;
	height: 40px;
	background-color: #ff6700;
	color: #fff;
	text-align: center;
	line-height:40px ;
	float: right;
	display: block;
}








.page-top .car-box:hover .tit{
	background-color: #fff;
	color: #FF6700;
	
}

.page-top .car-box:hover .pop{
	display: block;
}


/* 导航样式 */
.page-nav{
	height: 96px;
	position: relative;	


}
.page-nav .logo{
	display: block;
	float: left;
	width: 54px;
	height: 54px;
	margin-top: 21px;
	background: #FF6700 url(../img/images/logo_03.gif) center center no-repeat;
	margin-right: 45px;
}
.page-nav .nav .nav-item{
	margin-left: 16px;
	float: left;
	margin-top: 24px;
	padding: 12px 2px 0;
	height: 60px;

	
}
.page-nav .nav .nav-item .tit{
	font-size: 16px;
	color: #666;
}
	
.page-nav .nav .nav-item:hover .tit{
	color: #FF6700;
	
}
.page-nav .nav-item .pop{
	position: absolute;
	width: 100%;
	height: 230px;
	left: 0;
	top: 96px;
	background-color: #ffffff;
	box-shadow:0 3px 4px rgba(0,0,0,0.18) ;
	border-top: 1px solid #E0E0E0;
	z-index: 1001;
	display: none;
	
}
.page-nav .down-ul{
	/* overflow: hidden; */
	
}
.page-nav .down-li{
	width: 241px;
	float: left;
	padding-top: 30px;
	text-align: center;
	position: relative;
}
.page-nav .down-li .pic img{
	width: 105px;
	height: 128px;
}
}
.page-nav .down-li .name{
	font-weight: normal;
	font-size: 13px;
	margin-top: 20px;
	
}
.page-nav .down-li .price{
	color: #FF6700;
	margin-top: 5px;
}
.page-nav .down-li .tags{
	width: 64px;
	height: 20px;
	border: 1px solid #FF6700;
	position: absolute;
	text-align: center;
	line-height: 20px;
	left: 50%;
	margin-left: -32px;
	z-index: 100;
	top: -1px;
	color: #FF6700;
}
.page-nav .down-li i{
	background-color: #E0E0E0;
	width: 1px;
	height: 100px;
	position: absolute;
	right: 0;
	top: 36px;
	
}
.page-nav .down-li.last i,
.page-nav .down-li:last-child i{
	display: none;
	
}
.page-nav .nav .nav-item:hover .pop{
	display: block;
}

/* 全部分类 菜单样式*/
#page-all-nav{
	visibility: hidden;
	position: relative;
}

.slider-nav{
	position: absolute;
	width: 232px;
	height: 418px;
	border: 1px solid #FF6700;
	background-color: #fff;
	right: -19px;	
	top:72px;
	padding: 20px 0;
	z-index: 1000;
}
.slider-nav .slider-li{
	line-height: 42px;
}
.slider-nav .slider-li .name{
	font-size: 13px;
	display: block;
	padding: 0 24px 0 30px;
}
.slider-nav .slider-li .name span{
	margin-right: 5px;
}
.slider-nav .slider-li i{
	float: right;
}
.slider-nav .slider-li:hover .name{
	background-color: #FF6700;
	color: #fff;
}
.slider-nav .slider-pop{
	position: absolute;
	border: 1px solid #E0E0E0;
	border-left: none;
	width: 975px;
	height: 458px;
	left: 233px;
	top:0px;
	box-shadow:0 8px 16px rgba(0,0,0,0.18) ;
	display: none;
	z-index: 1000;
	background-color: #fff;
}
.slider-nav .pop-li{
	float: left;
	width: 223px;
	padding-left: 24px;
	overflow: hidden;
	height: 56px;
	margin-bottom: 10px;
	padding-top: 20px;
}
.slider-nav .pop-li img{
		width: 40px;
		height: 40px;
		float: left;
		margin-right: 16px;
}
.slider-nav .pop-li:hover p{
	color: #FF6700;
}
.slider-nav .slider-li:hover .slider-pop{
	display: block;
}
/*搜索框 */
.page-nav .search{
	float: right;
	position: relative;
	margin-top: 24px;
	
	
}
.page-nav .search .q{
	width:227px ;
	height: 48px;
	border: 1px solid #E0E0E0;
	border-right: none;
	outline: none;
	line-height: 48px;
	padding-left: 8px;
	float: left;
}

.page-nav .search  .tags{
	position: absolute;
	top:17px;
	right:58px;
	width: 130px;
	text-align: right;
}
.page-nav .search  .tags span{
	line-height: 18px;
	padding: 0 5px;
	background-color: #EEe;
	font-size: 12px;
	cursor: pointer;
}

.page-nav .search .tags span:hover{
	background-color: #FF6700;
	color: #FFf;
}
/* .page-nav .search ul{
	position: absolute;
	top: 50px;
} */
.page-nav .search .btn{
	width: 50px;
	height: 50px;
	border: 1px solid #E0E0E0;
	float: left;
	background:#fff  url(../img/搜索_search.png) center center no-repeat;
	background-size: 16px 16px;
}
.page-nav .search .btn:hover{
	background-color: #FF6700;
	background-image: url(../img/搜索_search.png);
	border-color:#FF6700 ;
}
.search:hover .q,
.search:hover .btn{
	border-color: #b0b0b0;
}
.search:active .q,
.search:active .btn{
	border-color: #FF6700;
}
.search .hot{
	width: 234px;
	border: 1px solid #FF6700;
	border-top: none;
	position: absolute;
	left: 0;
	top: 50px;
	display: none;
}
.search .hot li{
	line-height: 30px;
}
.search .hot li a{
	display: block;
	padding: 0 15px;
	padding: #535353;
}
.search .hot li:hover{
	background-color: #fafafa;
	
}
.search .hot li i{
	float: right;
	font-style: normal;
	color:#b0b0b0 ;
	
	
}



